<h1>Staff Updates</h1>

<p class="text_block" style= "width: 500px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ratione aliquid quae id deserunt repellendus, necessitatibus numquam quisquam officiis veritatis architecto, aperiam fuga recusandae delectus totam magnam sint, ipsam obcaecati.</p>

<p class="text_block" style= "width: 500px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ratione aliquid quae id deserunt repellendus, necessitatibus numquam quisquam officiis veritatis architecto, aperiam fuga recusandae delectus totam magnam sint, ipsam obcaecati.</p>

<p class="text_block" style= "width: 500px">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
