<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gym Manager</title>

  <link rel=“stylesheet” type=“text/css” href="/style.css">
</head>
<body>

  <header id="header" style="position:absolute; top:0px; left:0px; height:200px; right:0px;overflow:hidden;">
    <h1 class ="Logo"><a href="/">Gym Manager</a></h1>

    <nav class ="topnav">
      <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/gymclass">All Classes</a></li>
        <li><a href="/member">All Members</a></li>
      </ul>
    </nav>
  </header>

  <main id="content" style="position:absolute; top:150px; bottom:100px; left:0px; right:0px; overflow:auto;">
    <div class="yield">
      <%= yield %>
    </div>
  </main>

  <footer id="footer" style="position:absolute; bottom:0px; height:100px; left:0px; right:0px; overflow:hidden;">
    <h5>Technical Support<h5>
    <p>Contact details: 118-118-1188<p>
  </footer>

</body>
</html>
