<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gym Manager</title>

  <!-- https://coolors.co/274060-345d82-66afff-192844-5899e2 -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <header>
    <h1 class="logo"><a href="/">Gym Manager</a></h1>

    <nav class ="topnav">
      <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/gymclass">All Classes</a></li>
        <li><a href="/member">All Members</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="yield">
      <%= yield %>
    </div>
  </main>

  <footer>
    <h5>Technical Support: Raymond Yau (The guy who coded this amazing thing!)<h5>
    <h5>Contact details: +(44) 118-118-1188<h5>
  </footer>

</body>
</html>
