header {
  background-color: #345D82;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 150px;
  right: 0px;
  overflow: hidden;
}

body {
  font-family: "Archivo Black";
}

header a {
  color: white;
  text-decoration: underline;
  text-transform: none;
  font-size: 42px;
  font-weight: 700;

}

nav a {
  font-family: Open Sans;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-size: 18px;
  font-weight: 400;
  margin-left: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  padding-top: 15px;
  display: inline-block;
  position: relative;
}

main {
  font-family: Open Sans;
  position: absolute;
  top: 150px;
  bottom: 100px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

footer {
  font-family: Open Sans;
  background-color: #345D82;
  position: absolute;
  bottom: 0px;
  height: 100px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

h1 {

  margin-left: 10px;
  margin-block-start: 0.5em;
  margin-block-end: 0.2em;
}

h2 {
  margin-left: 10px;
}

h3 {
  margin-left: 10px;
}

h5 {
  font-weight: 200;
  color: white;
  margin: 10px;
}

h6 {
  margin-left: 10px;
}

.yield h1 {
  font-weight: 400
}

.yield p {
  font-weight: 300
}

.links li{
  margin: 0;
  padding: 0;
  /* font-size: 24px; */
  font-weight: 400;
  display: inline-block;
}

.links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.links a {
  background-color: #345D82;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  padding: 5px;
  border-radius: 4px;
}

.tableClasses {
  width: 400px;
  border-spacing: 5px;
  margin: 5px;
}

.cell1 {
  width: 150px;
}

th {
  text-align: left;
  color: white;
  font-weight: 400;
  background-color: #345D82;
  padding: 5px;
}

td {
  background-color: #66AFFF;
  padding: 5px;
}

p {
  margin-left: 10px;
}

form {
  margin: 10px;
}
