<h2>All members listed below</h2>

<p><a href="/member/new">Add New Member</a></p>

<div class="members_list">

  <% for member in @members %>
  <table class="tableClasses">
    <tr>
      <!-- <th class="cell1">Name:</th> -->
      <th colspan="2" class="cell2"><%= member.fullName()%></th>
    </tr>
    <tr>
      <td class="cell1">Member #ID:</td>
      <td class="cell2"><%= member.id %></td>
    </tr>
  </table>

  <ul class="links">
    <li><a href="/member/<%= member.id %>">Show Details</a></li>
  </ul>

  <% end %>
</div>
