
<h2> Failed to assign member to the class!!</h2>


<p> Check the following: </p>

<ul>
  <li>Is the class fully booked?</li>
  <li>Has the member already booked the class?</li>
  <li>Is the member booking to a peak time class without a premium membership?</li>
</ul>
