<h1>Create New Class</h1>

<form method="post" action="/gymclass">

  <label for="instructor_name">Instructor:</label>
  <input id="instructor_name" type="text" name="instructor_name"/>

  <label for="class_name">Class Name:</label>
  <input id="class_name" type="text" name="class_name"/>

  <label for="empty_spaces">Maximum Class Size:</label>
  <input id="empty_spaces" type="number" name="max_spaces"/>

  <label for="start_time">Start Time:</label>
  <input id="start_time" type="datetime-local" name="start_time">

  <input class="btn-action" type='submit' value="Create new class">
</form>
