<h1>Create New Class</h1>

<form method="post" action="/gymclass">

  <label for="instructor_name">Instructor:</label>
  <input id="instructor_name" type="text" name="instructor_name"/>

  <label for="class_name">Class Name:</label>
  <input id="class_name" type="text" name="class_name"/>

  <label for="empty_spaces">Maximum Class Size:</label>
  <input id="empty_spaces" type="number" name="empty_spaces"/>

  <label for="restriction">
    Premium membership restriction:
    <input type="checkbox" id="restriction" value="1" name="restriction">
  </label>

  <input class="btn-action" type='submit' value="Create new class">
</form>
